<nav class="site-nav">
    <a class="Home" href="/home">Home</a>
    <a class="Add-Home" href="/host/add-home">Add Home</a>
    <a class="favourites" href="/favourites">Favourites</a>
    <a class="bookings" href="/host/bookings">Bookings</a>
    <a class="Host-Homes" href="/host/hosted-homes">Hosted Homes</a>
</nav>